body{
  text-align: center;
}

.blink {
  animation: blinker 0.80s linear infinite;
  margin-top: 10vw;
}

button {
  background-color: white;
  border-radius:10px ;
  margin: 0 auto;

}

.voucher {
  display: grid;
  max-width: 1000px;
  width: 80vw;
  margin: 5vw auto;
  padding: 5vw;
  background: url(https://visit-nagano.alpico.co.jp/hubfs/images/Discount%20Tickets/Alps%20Crossing%20Ticket/where_photo02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.voucher .left {
  border-right: 3px dashed white;
  border-bottom: 0;
  font-weight:bold;
  font-size:1rem; 
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: auto;
}

.voucher .right p {
  font-size: 0.65rem;
  
}

.voucher button {
    width: fit-content;
}

@media screen and (max-width: 400px){
  .voucher{
    display: block;
  }
  .voucher .left  {
    border-right: 0;
    border-bottom: 3px dashed white;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.10;
  }
}

.wrapper { 
  text-align:center;
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
