body{
  text-align: center;
  font-family:"Happy Monkey", serif;
}
h1 {
  font-family: "Jersey 15", serif;
  font-weight: bold;
   text-shadow: 4px 2px blueviolet;
    color: darksalmon;
}

.blink {
  animation: blinker 1s linear infinite;
  margin-top: 10vw;
}

button {
  -webkit-appearance: menulist;
  background-color: white;
  border-radius:5px ;
  border: 1px solid black;
  margin-top:50px;
}

button:hover {
  scale: 1.05;
}

video {
  width: 100vw;
  max-width: 500px;
  padding-right: 120px;
}

.btn {
  margin: 0 auto;
}

.voucher {

  max-width: 1000px;
  width: 80vw;
  margin: 5vw auto;
  padding: 1vw 2vw;
  background-image: url(https://visit-nagano.alpico.co.jp/hubfs/images/Discount%20Tickets/Alps%20Crossing%20Ticket/where_photo02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cbc0c08a;
  background-blend-mode: lighten;
}

.voucher h2 {
  font-size: calc(1.2rem + .9vw);
  font-weight: 900;
  font-family: serif;
       text-shadow: 1px 2px 2px #4c4545;
    color: #fffef9;  
}

.voucher .left {
  border-right: 3px dashed white;
  border-bottom: 0;
  font-weight:bold;
  font-size:1rem; 
  height:inherit;

}

.voucher .left p{
  margin: auto;
  color: white;
  text-shadow: 2px 1px powderblue, -1px -2px darkorange

}

.voucher .right {
    justify-content: space-between;
}

.voucher .right p {
  font-size: 0.65rem;
  margin-left:auto;
  width: 50%;
  text-align: right;
  line-height: 0.8;
  font-family: san-serif;
  color:#4c4c4c;
}

.voucher a {
  margin-top: 2vw;
    width: fit-content;
    margin-left:auto;
  font-size: 0.8rem;
  font-family: san-serif;
      color: floralwhite;
}

@media screen and (max-width:400px){
  .voucher .left {
    writing-mode: vertical-rl;
  text-orientation: upright;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.10;
  }
}

.wrapper { 
  text-align:center;
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
